*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(43, 41, 41);
}
form{
    background-color: aliceblue;
    max-width: 500px;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}
form h3{
    text-align: center;
    color: rgb(43, 41, 41);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form input[type=text],
form input[type=password]{
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
}
form input[type=submit]{
    width: 100%;
    height: 30px;
    cursor: pointer;
    background-color: aliceblue;
    color: rgb(43, 41, 41);
    border: 0;
    border-radius: 20px;
    transition: 1s;
}
form input[type=submit]:hover{
        background-color: rgb(156, 156, 156);
        outline: 0;
}
form input[type=text]:focus{
    outline: 0;
}
form input[type=password]:focus{
    outline: 0;
}

/*IDs*/
#navbar{
    background-color: aliceblue;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.3s;
}
#navbar a{
    float: left;
    display: block;
    color: rgb(43, 41, 41);
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
#navbar a:hover{
    background-color: aliceblue;
    color: black;
}
#escopo{
    height: 1500px;
}